@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

* {
    font-family: 'Advent Pro', sans-serif;
}

body {
    background-color: #E2F1FF;
    font-size: 2.5vw;
}

div {
    background-color : #7DB0E1;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
    height: 50%;

    padding-top: 1%;
    padding-bottom: 0.5%;

    border-radius: 10px;
}

button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Advent Pro', sans-serif;
    color: #5C7A98;
    font-size: 0.5em;
    font-weight: bold;
    background: #FDF9F9;
    padding: 10px 20px 10px 20px;
    border: 0px;
    text-decoration: none;
    margin-bottom: 2.5%;
    cursor: pointer;
}
  
button:hover {
    background: rgb(188, 214, 230);
    text-decoration: none;
}

#logoImage {
    height: auto;
    max-width: 20%;
    justify-content: center;
}

.textBox {
    background-color: #FDF9F9;
    color: black;
    border-radius: 5px;
    border: 0;
    width: 49%;
    font-size: smaller;
}

#labels {
    color: #FDF9F9;
    padding-left: 26%;
    font-size: 60%;
}

#title {
    color:#FDF9F9;
    font-weight: bold;
}

h1 {
    color: #FDF9F9;
    font-size: 2vw;
}

p {
    padding-left: 10%;
    padding-right: 10%;
    color:#FDF9F9;
    font-size: 1.5vw;
}

select {
    color:#5C7A98;
    width: 30%;
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
}

.validInputBorder {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95.5% 50% #FDF9F9;
    background-size: 25px;
    outline: 3px solid #14821D;   
}

.invalidInputBorder {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95.5% 50% #FDF9F9;
    background-size: 25px;
    outline: 3px solid red; 
}

.valid, .invalid, .instructions{
    display: none;
    font-size: 40%;
    padding-right: 26%; 
    padding-left: 26%;
    margin-top: 0;
    margin-bottom: 0;
}

.invalid {
    color: red;
}

.valid {
    color: #14821D;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section input {
    width: 100%;
}

.form-section label {
    display: block;
    color: #fdf9f9;
    font-size: 60%;
}

.form-section .message {
    display: none;
}

.form-section .message.show {
    display: block;
}

.message {
    margin: 0;
    padding: 0;
}

.form-section {
    margin-top: 2%;
    padding-top: 0;
}

